.sideMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    background-color: hsl(var(--clr-white) / 0.15);
    transform-origin: right;
    transition: transform 300ms ease-out;
    transform: translateY(-100%);
}

.open {
    transform: translateY(0);
}

