.destinationPage {
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    overflow: hidden;
}

.title {
    --fs-500: 1.2rem;
}

.planetList {
    --gap: 1rem;
    align-items: center;
}

.planetList > li {
    display: grid;
    place-items: center;
    position: relative;
    border-bottom: .1rem solid hsl(var(--clr-white) / 0);
}

.planetList > .active {
    border-color: hsl(var(--clr-white) / 1);
    color: white;
}


.planetDiv {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}


@media (min-width: 1024px) {
    .planetDiv {
        flex-direction: row;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding-bottom: clamp(1rem, 12vh, 5rem);
    }

    .title {
        --fs-500: 1.75rem;
    }
}