.layout {
  height: 100vh;
  grid-template-rows: min-content 1fr;
}

.home {
  background-size: cover;
  background-position: bottom center;
  background-image: url("../../assets/home/background-home-mobile.jpg");
}
.destination {
  background-size: cover;
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
}

@media (min-width: 35em) {
  .home {
    background-position: center center;
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }

  .destination {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
}

@media (min-width: 45em) {
  .home {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }

  .destination {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }
}


.technology {

}

.crew {

}



