.layout {
  height: 100vh;
  grid-template-rows: min-content 1fr;
}

.home {
  background-size: cover;
  background-position: bottom center;
  background-image: url("../../assets/home/background-home-mobile.jpg");
}

@media (min-width: 35em) {
  .home {
    background-position: center center;
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 45em) {
  .home {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }
}

.destination {

}

.technology {

}

.crew {

}



