.technologyPage {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.indicatorsList {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.indicatorsList > li {
    font-size: 1.5rem;
    aspect-ratio: 1;
    width: 15vw;
    background: transparent;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 1px solid hsl(var(--clr-white) / 0.25);
}


@media (hover) {
    .indicatorsList > li:hover,
    .indicatorsList > li:active {
        border-color: hsl(var(--clr-white));
    }
}

.indicatorsList > li.active {
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
}

.contentSection {
    margin: 0;
    flex-direction: column;
    align-items: center;
}